@model NationalParks.Models.Parks

<h1>Parks</h1>
<hr />

@foreach (var item in Model.data)
{
<div>
    <h3>
        @Html.DisplayFor(modelItem => item.fullName)
    </h3>
    <div>
        @Html.DisplayFor(modelItem => item.description)
    </div>
    <a href="@item.url" target="_blank">
        @Html.DisplayFor(modelItem => item.url)
    </a>
    <div>
        <h5>Directions: </h5>
        @Html.DisplayFor(modelItem => item.directionsInfo)
    </div>
</div>
<br/>
}

<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>